
/* colors */
  
$primary :#DCA800 ;
$secondary : #AB37B4;
$third : #FCD2FF;
$box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.2) ;

/*  font */
@font-face {
    font-family: Vazir;
    src: url('/assets/fonts/Vazir.ttf');
}
